*{
    font-family: HaasText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
.up{
    text-decoration: none;
    color: #ffff;
}
#navbar{
  display:flex;
  
  margin:20px;
  margin-bottom: 10px;
  
  justify-content: space-between;
}
#navbar>div:nth-child(1){
    display:flex;
    width:50%;
    

}
#navbar>div:nth-child(1)>div>img{
    margin-top:5px;
    width: 39px;
    height: 32px;
}

#navbar>div:nth-child(1)>div:nth-child(1){
    width:15%;
    display: flex;
    margin-right: 10px;
    cursor: pointer;
}
#navbar>div:nth-child(1)>div:nth-child(2)>p{
    cursor:pointer;
}
#navbar>div:nth-child(1)>div:nth-child(2){
    width:70%;
  
    display:flex;
    justify-content: space-evenly;
}
#name{
    font-weight: bolder;
}
#contact{
    padding:5px 10px;
    border:2px solid #949494;
     border-radius: 8px;
     font-size: 1rem;
     cursor: pointer;
}

.signup{
    padding:5px 10px;
    background-color: 
#0768f8;
    cursor:pointer;
    border-radius: 8px;
    color:white;
    border:2px solid 
#0768f8;
    font-size:1rem;
    
}
#signin{
   border:none;
   background-color: white;
   color:
#0768f8;
cursor: pointer;
font-size: 1rem;
}

#hero{
    display:flex;
    width:100%;
    background-color:
#ecf6fc;
  

    justify-content: space-around;
}
@media all and (max-width:700px) and (min-width:400px){
    #hero{
     display:block;
    }
}
    
#hero>div:nth-child(1){
    width:50%;
    padding:100px 0 100px 100px;
}
#hero>div:nth-child(1)>h1{
    font-size: 64px;
    line-height: 1.1;
    font-weight: 500;
}
#hero>div:nth-child(1)>p{
    font-size:20px;
    line-height: 1.35;
    font-weight: 500;
}
#hero>div:nth-child(2){
    width:50%;
    
    padding:100px 100px 100px 0;
}
#hero video{
    width:100%;
}

#logosection{
  display: flex;
  width:100%;
  margin:auto;
  justify-content: space-around;
  font-size: 30px;
  padding:30px 0;
  color:#7f8081;
  background-color: #f2f4f7;
}
/* 
media section */

#media{
   
    width:40%;
    
    text-align: center;
    margin:50px auto;
}
#media>h1{
    font-size: 58px;
    font-weight: 500;
}
#media>p{
    font-size: 20px;
    font-weight: 500;
}
#workflow{
    display:flex;
    padding:100px;
    background-color: #faf2f4;
}
#workflow>div:nth-child(1){
    width:40%;
}
#workflow>div:nth-child(1)>h1{
    font-size: 50px;
    font-weight: 500;
}
#workflow>div:nth-child(1)>p{
    font-size: 20px;
    font-weight: 500;
}
#workflow>div:nth-child(2){
    width:60%;
}
#workflow>div:nth-child(2)>video{
    width:100%;
}
#workflow a{
    text-decoration: none;
    font-size: 20px;
    color:blue;
}

/* interface section */
#interface{
    display:flex;
    padding:100px;
    background-color: #faf2f4;
    
}
#interface>div:nth-child(2){
    width:40%;
    padding-left:50px
}
#interface>div:nth-child(2)>h1{
    font-size: 50px;
    font-weight: 500;
}
#interface>div:nth-child(2)>p{
    font-size: 20px;
    font-weight: 500;
}
#interface>div:nth-child(1){
    width:60%;
}
#interface>div:nth-child(1)>video{
    width:100%;
}
#interface a{
    text-decoration: none;
    font-size: 20px;
    color:blue;
}
#interface button{
    font-size: 20px;
    color:#ffff;
    background-color: 
    #6b1cb0;
    border-radius:20px;
    border:none;
}

/*lowfloor section*/
#lowfloor {
    padding-top: 50px;
    background-color: #faf2f4;
}
#lowfloor>div:nth-child(1){
    display:flex;
    justify-content: space-around;

}
#lowfloor>div:nth-child(1)>div{
   padding-left:100px;
    width:50%;
    
}
#lowfloor>div:nth-child(1)>div>h1{
    font-size: 40px;
    font-weight: 500;
    line-height: 1.15;
}
#lowfloor p{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
}
#lowfloor img{
    width:100%;
}
#lowfloor a{
    text-decoration: none;
    font-size: 20px;
    color:blue;
}

#high_Ceiling{
    display:flex;
    margin:auto;
    padding:50px;
    background-color: #fbfbfc;
}
#high_Ceiling>div:nth-child(2){
    width:60%;
}
#high_Ceiling>div:nth-child(1){
    width:40%;
    padding:100px;
}
#high_Ceiling>div:nth-child(1)>h1{
    font-size: 48px;
}
#high_Ceiling>div:nth-child(1)>p{
    font-size:20px;
}
#high_Ceiling>div:nth-child(2)>span{
    color:#7f8081;
}
#high_Ceiling video{
    padding-top:20px;
    width:90%;
}
#high_Ceiling button{
    border:none;
    text-decoration: underline;
    font-size: 20px;
    color:#adadad;
    cursor: pointer;
    background-color: #fbfbfc;
}

/*sync section*/
#sync{
    display:flex;
    margin:auto;
    padding:50px;
    background-color: #fbfbfc;
}
#sync>div:nth-child(1){
    width:60%;
    
}
#sync>div:nth-child(2){
    width:40%;
    padding:100px;
}
#sync>div:nth-child(2)>h1{
    font-size: 48px;
}
#sync>div:nth-child(2)>p{
    font-size:20px;
}
#sync>div:nth-child(1)>span{
    color:#7f8081;
    padding-left: 50px;
}
#sync img{
    padding-top:20px;
    width:90%;
    padding-left:50px;
}
#sync button{
    padding-left:50px;
    border:none;
    text-decoration: underline;
    font-size: 20px;
    color:#adadad;
    cursor: pointer;
    background-color: #fbfbfc;
}
/*testimonial sectiona*/

.testimonial{
    background-color: #faf5e8;
}
#testimonial{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    width:75%;
    margin:auto;
    row-gap: 40px;
    padding-bottom: 80px;
    
}
#testimonial>div{
    
}
#testimonial>div:nth-child(3)>img{
    width:100%;
    
}
#testimonial h1{
    font-size: 48px;
    font-weight: 500;
}

#testimonial p{
    font-size: 20px;
    font-weight: 500;
}
#testimonial>div:nth-child(4){
    padding-left:50px;
    background-color: #ffff;
}
#testimonial>div:nth-child(4)>img{
    width:60%;
}
#testimonial a{
    text-decoration: none;
    font-size: 20px;
    color:blue;
}
#testimonial>div:nth-child(2){
    display: flex;
    flex-direction:column-reverse;
    text-align: right;
}
.general{
    text-align: center;
}
.general>h1{
    font-size: 48px;

}
.general>button{
    font-size: 20px;
}

/*footer*/
#foot_nav{
    display:flex;
    justify-content: space-between;
}
#foot_nav img{
    margin-top:5px;
    width: 39px;
    height: 32px;
}

#foot_nav img,#foot_nav p{
    cursor: pointer;
}
#foot_nav>div:nth-child(1){
    display:flex;
    width:40%;
    justify-content: space-around;
}
#foot_nav>div:nth-child(2){
    margin-top:10px;
    width:20%;
    display: flex;
    
    justify-content: space-evenly;
}
#foot_nav>div:nth-child(2) i{
    color:#9297a0
}

hr{
    border:1px solid #9297a0;
    width:98%;
}

table{
    width: 90%;
    margin:50px 100px;
}
table th,table td{
    text-align: left;
    padding:5px;
}
tbody>tr:nth-child(6){
    font-weight: bold;
}
table td{
    cursor: pointer;
}

#bottom{
    display:flex;
    justify-content: space-between;
    background-color: #f2f4f7;
}
#bottom img{
    width:100px;
    margin: 15px 10px 0;
    cursor: pointer;
}
#bottom>div:nth-child(1){
    display: flex;
    width:40%;
    justify-content: space-evenly;
}
#bottom>div:nth-child(1)>p{
    cursor: pointer;
}
.in{
    text-decoration: none;
    border:none;
    background-color: white;
    color:
 #0768f8;
 cursor: pointer;
 font-size: 1rem;
}