*{
    margin:0;
    padding:0;
}


    

#container>img{
    width:100%;
    position: absolute;
}
#body{
   
    width:450px;
    position: absolute;
    
    background-color: white;   
    border-radius: 8px;
    margin: 100px 32%;
    
    
}

#logo{
    display: flex;
    width:100%;
    justify-content: center;
    padding-top: 20px;
    padding-bottom:20px;
   background-color: #f2f2f2;
    
    
    
    
}

#logo img{

    margin-top:15px;
    width: 39px;
    height: 32px;
    
}
#logo p{
   font-weight: bolder;
   font-size: 30px;
   margin-top: 15px;
}

#logo+div{
    display: flex;
    justify-content: space-between;
    padding-top:20px;
    padding-bottom:20px;
}
#logo+div>p{
    margin-top: 10px;
}
input{
    width:94%;
    padding:10px;
    border-radius: 4px;
    margin-bottom:15px;
    border:1px solid lightgray;
}
input[type=submit]{
    width:100%;
    color:#ffff;
    background-color: #96bffc;
    font-size: 1rem;
    
}
.first:before,span:after{
    content:"";
    height: 2px;
    display: block;
    background-color:lightgray;
    margin-top: 10px;
    
  }
  .first{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      text-align: center;  
  }
   
  .create{
    font-weight: bolder;
    color:blue
  }
  .anchor{
     text-align: center;
     padding-left: 150px;
     text-decoration: none;
     color:gray;
  }

  form{
    
  }

  #container>div{
    padding: 50px;
  }

